.contain {
  display: flex;
}
.contain {
/*  max-width: 813px; */
    width: 100vw;
    /* min-height: 406px; */
    height: 100vh;
    /* border-radius: 20px; */
    margin-top: 0px;
    /* margin: auto; */
    text-align: center;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    margin-top: 100px;
    background: url(/profile-card-component-main/images/bg-pattern-top.svg) top left no-repeat,
                url(/profile-card-component-main/images/bg-pattern-top.svg) top left no-repeat,
                url(/profile-card-component-main/images/bg-pattern-top.svg) top right no-repeat, 
                url(/profile-card-component-main/images/bg-pattern-bottom.svg) bottom right no-repeat, 
                url(/profile-card-component-main/images/bg-pattern-bottom.svg) bottom right no-repeat, 
                url(/profile-card-component-main/images/bg-pattern-bottom.svg) left no-repeat, 
                url(/profile-card-component-main/images/bg-pattern-top.svg) top left no-repeat,hsl(185, 75%, 39%);
    background-position-y: 0%, 95%, 40%, 120%,10%,40%, 28%;
    background-position-x: -9%, 10%, 75%, 100%, 20%, 95%, 95%;
    background-size: 300px, 50px, 550px, 400px, 700px, 50px, 28px;
    /* background-image: url(/profile-card-component-main/images/bg-pattern-bottom.svg); */
}

.cards {
  margin: auto;
  background-color: white;
  width: 220px;
  height: 260px;
  border-radius: 10px;
}

.top-cards {
  border-radius: 10px;
  background-image: url("/profile-card-component-main/images/bg-pattern-card.svg");
  background-size: cover;
  width: 220px;
  height: 110px;
}

.caption {
  display: block;
}

.victor {
  height: 25%;
  width: 25%;
  margin: -30px auto 0px auto;
  border-radius: 100%;
  border: 4px solid white;
}

.top-p {
  margin-top: -10px;
}

p {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.9em;
  line-height: 0.3em;
}

.grey {
  font-size: 0.8em;
  color: grey;
}

.bottom-p {
  margin-bottom: 25px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(227, 226, 226);
  margin: 1em 0;
  padding: 0;
}

.row {
  line-height: 0.3em;
}

.small {
  font-size: 0.6em;
}

/* @media screen and (max-width: 375px) {
  .contain {
    /*
    height: 667px;
    width: 375px;
    */
    min-width: 375px;
    width: 80%;
    min-height: 667px;
  }
}

@media screen and (max-width: 1440px) {
  .contain {
    /*
    height: 406px;
    width: 813px;
    */
    max-width: 813px;
    width: 80%;
    min-height: 406px;
  }
} */
